$text-color: #2B2B2B;
$background-color: #FFFFFF;
$gold-color: #C4963C;
$button-color: #9D002B;
$plus-text-color: #3B3B3B;
$header-gold-color: #FFEC86;
$download-font-color: #212529;
$download-subfont-color: #495057;
